
.feature {
    flex-direction: column;
    gap: 30px;


@media screen and (min-width:$tablet) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media screen and (min-width:$desktop) {}

    &__icon {
    display: block;
}

    &__title {
    color: var(--heading-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

    &__card {
        width: 100%;

        @media screen and (min-width:$tablet) {
            width: 354px;
        }
        @media screen and (min-width:$desktop) {
            width: 270px;
        }
    }
}

.card-icon {
    background-color: var(--team-color);
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text {
    font-size: 14px;
    line-height: 1.71;
}