.partners-list {
    display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
        justify-content: center;

        @media screen and (min-width:$desktop) {
            margin-top: 50px;
            }
    }
    
    .partners-item {
        width: calc((100% - 30px) / 2);
    
        @media screen and (min-width: $tablet) {
            width: calc((100% - 2 * 30px) / 3);
        }
    
        @media screen and (min-width: $desktop) {
            width: calc((100% - 5 * 30px) / 6);
        }
    }

.partner-link {
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    outline: transparent;
    transition: border-color var(--time) var(--transform);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
    
    &:hover .partner-icon,
    &:focus .partner-icon {
        fill: var(--accent-color);
    }
}

.partner-icon {
    fill: var(--icon-color);
    transition: fill var(--time) var(--transform);
}

