.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 0;
    gap: 10px;

    @media screen and (min-width:$tablet) {
        padding-top: 16px;
        padding-bottom: 0;
    }

    @media screen and (min-width:$desktop) {
        padding-bottom: 0;
    }

    &__icon {
        fill: var(--icon-color);
        transition: fill var(--time) var(--transform);
    }


    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 44px;
        height: 44px;

        border-radius: 50%;
        background-color: var(--main-white-color);

        transition: background-color var(--time) var(--transform);


        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }

        &:hover .social__icon,
        &:focus .social__icon {
            fill: var(--main-white-color);
        }
    }
}