:root {

    // Colors:
    --main-white-color: #FFFFFF;
    --primary-text-color: #757575;
    --heading-text-color: #212121;
    --accent-color: #2196F3;
    --block-color: #2F303A;
    --section-color: #F5F5F5;
    --team-color: #F5F4FA;
    --footer-font-color: rgba(255, 255, 255, 0.6);
    --primary-button-color: #188CE8;
    --border-color: #ECECEC;
    --card-border: #EEEEEE;
    --icon-color: #AFB1B8;
    --modal-border: rgba(33, 33, 33, 0.2);

    // Hover
    --time: 250ms;
    --transform: cubic-bezier(0.4, 0, 0.2, 1);
}